[submodule "external/ffmpeg"]
	path = external/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "external/libopenmpt"]
	path = external/libopenmpt
	url = https://github.com/OpenMPT/openmpt.git
[submodule "external/libsoxr"]
	path = external/libsoxr
	url = https://git.code.sf.net/p/soxr/code
[submodule "external/libvgm"]
	path = external/libvgm
	url = https://github.com/ValleyBell/libvgm.git
[submodule "external/libgme"]
	path = external/libgme
	url = https://github.com/libgme/game-music-emu.git
[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl
[submodule "external/libsidplayfp"]
	path = external/libsidplayfp
	url = https://github.com/libsidplayfp/libsidplayfp
[submodule "external/lazyusf2"]
	path = external/lazyusf2
	url = https://bitbucket.org/losnoco/lazyusf2/
